<section class="new-training" fxLayout="row" fxLayoutAlign="center">

  <form #f="ngForm" (ngSubmit)="onStartTraining(f)">
    <mat-card fxFlex.xs="100%" fxFlex="400px"> <!-- 100% for small screen but only 400px for other screens-->
      <mat-card-title fxLayout fxLayoutAlign="center">Time to start a workout!</mat-card-title>

      <mat-card-content fxLayout fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises$ | async">
          <mat-select placeholder="Choose Exercise" ngModel name="selectedExercise" required>
            <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>

      <mat-card-actions fxLayout fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
        <button *ngIf="exercises$ | async" mat-raised-button color="primary" type="submit" [disabled]='f.invalid'>Start</button>
        <button *ngIf="!(exercises$ | async)" mat-raised-button color="primary" type="button" (click)="fetchExercises()">Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>

</section>
